<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['animation']" routerLinkActive="active">Animation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['productCategories']" routerLinkActive="active">Product Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['timer','timerWithInput']" routerLinkActive="active">Timer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['timer','timerWithSubject']" routerLinkActive="active">Timer With Subject</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['studentMarks']" routerLinkActive="active">Student Marks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['dynamicDivs']" routerLinkActive="active">Dynamic Divs</a>
        </li>
      </ul>
</nav>