<div class="container rowCont" >
    <div class="row-2 rowCont" [@animateDiv]=divstate >
        <div class="row-3- rowCont" [@animateDiv]=divstate >
            <div class="row-4 rowCont" [@animateDiv]=divstate>
                <div class="row-5 rowCont" [@animateDiv]=divstate>
                    <div class="row-6 rowCont" [@animateDiv]=divstate>
                        <div class="row-7 rowCont" [@animateDiv]=divstate  (@animateDiv.done) = 'animationEnd($event)'>
                            <div class="bannerMessage">My Floating Banner Text which keeps on rotatating. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>